<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_at</span>
    <input type="text" ng-model="tasklist['updated_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_at</span>
    <input type="text" ng-model="tasklist['created_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">note</span>
    <input type="text" ng-model="tasklist['note']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">status</span>
    <input type="text" ng-model="tasklist['status']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">priority</span>
    <input type="text" ng-model="tasklist['priority']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">ACL</span>
    <input type="text" ng-model="tasklist['ACL']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">tags</span>
    <input type="text" ng-model="tasklist['tags']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_by</span>
    <input type="text" ng-model="tasklist['updated_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_by</span>
    <input type="text" ng-model="tasklist['created_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">app_user_object_uid</span>
    <input type="text" ng-model="tasklist['app_user_object_uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">published</span>
    <input type="text" ng-model="tasklist['published']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">uid</span>
    <input type="text" ng-model="tasklist['uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">_version</span>
    <input type="text" ng-model="tasklist['_version']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
