<div ng-controller="ListController">
  <super-navbar>
    <super-navbar-title>
      Completed Tasks
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
  
    <ul class="list" ng-hide="tasklists.length == 0">
      <super-navigate location="tasklist#show" data-params-id="{{ tasklist.id }}" ng-repeat="tasklist in tasklists">
        <li class="item item-icon-right">
          <span ng-bind="tasklist['note']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="tasklists.length == 0" class="assertive padding">
      No tasklists found.
    </h4>

  </div>
</div>
