<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Details
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
       <h3>Task: 
          <span ng-bind="tasklist['note']"></span>
       </h3>
       <h5>Created:
          <span ng-bind="tasklist['created_at']"></span>
       </h5>
       <h5>Priority:
          <span ng-bind="tasklist['priority']"></span>
       </h5>

       <ul class="list">
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox" ng-click="markComplete()">
            </label>
            TASK COMPLETE
          </li>
       </ul>

      <super-modal-show location="tasklist#edit?id={{ tasklist.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>



        <button ng-click="remove(tasklist.id)" class="button button-block button-negative">
          Remove
        </button>

        <br>
        <br>
        <br>
        <br>

      
        <div ng-show="tasklist['status']">
        <button class="button button-full button-large icon-right super-checkmark button-balanced">Completed</button>
        </div>

        <div ng-hide="tasklist['status']">
        <button class="button button-full button-large icon-right super-close button-assertive">Not Completed</button>
        </div>



      
    </div>
  </div>
</div>
