<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Details
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h3>Task: <span ng-bind="tasklist['note']"></span></h3>
      
       <p>Completed: <span ng-bind="tasklist['status']"></span></p>
      
        <button class="button button-block icon-right super-checkmark button-balanced">Completed</button>

        <super-modal-show location="tasklist#edit?id={{ tasklist.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(tasklist.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
